<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title><%= title %></title>
</head>
<body>
    
    <form id="login" method="post" action="/loginCheckout">
        <h1>Log In</h1>
        <fieldset id="inputs">
            <input id="username" 
                   type="text"
                   name="username" 
                   placeholder="Username" 
                   required 
                />   
            <input id="password" 
                  type="password"
                  name="password" 
                  placeholder="Password" 
                  required 
                />
        </fieldset>
        <fieldset id="actions">
            <input type="submit" id="submit" value="Log in">
            <a href="/register">Register</a>
        </fieldset>
    </form>

</body>
</html>