<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title><%= title %></title>
</head>
<body>
    
    <form id="login" class="register" method="post" action="/registerCheckout">
        <h1>Register</h1>
        <fieldset id="inputs">
            <input id="username" 
                   type="text"
                   name="username" 
                   placeholder="Username" 
                   required
                />   
            <input id="email"    
                   type="email"
                   name="email" 
                   placeholder="Email" 
                   required 
                />   
            <input id="password" 
                   type="password" 
                   placeholder="Password" 
                   required 
                   name="password"
                />
        </fieldset>
        <fieldset id="actions">
            <input type="submit" id="submit" value="Register">
            <a href="/login">Login</a>
        </fieldset>
    </form>

</body>
</html>